<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mini template</title>
</head>
<body>
    <h1>welcome, {{ user | upper }}</h1>

    {% if msg %}
    <p>{{ msg }}</p>
    {% else %}
    <p>Writing a template is fun!</p>
    {% end %}

    <p>{{ 13.0 }}</p>

    {# this is a comment #}
    <ul>
    {% for book in books %}
        <li>
            {% if book.rank == 1 %}<span>WOW!</span>{% end %}
            <span>{{ book.rank }}: {{ book.title }}</span>
        </li>
    {% end %}
    </ul>
</body>
</html>